@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    /* background-color: #ffc8a9; */
    background-image: url(../img/projectGradient.webp);
    background-size: cover;
}

img{
    width: 95%;
    height: 335px;
    border: 5px dotted #ffdfcc
}

/* Desktop*/


/* Nav Bar */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 80px;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 100%;
    position: relative;
    /* try to figure out how to make fixed nav go infront of jumbotron */
    background-color: #ffdfcc;
}

 header a {
    color: #000000;
    text-decoration: none;
}

.brand{
    margin: 0;
    font-weight: 300;
    font-size: 46px;
    font-family: "Dancing Script";
}

.menu {
    list-style-type: none;
    padding: 1px;
    margin: 0;
    display: flex;
    font-size: 22px;
    font-weight: 300;
    justify-content: center;
}


.menu li {
    min-width: 5rem;
}

.menu li a {
    display: block;
    padding: 1rem;
}

.menu li a:hover {
    color: #EEE;
    background-color: #edaf8c;
}

/* Portfolio Projects */

h2{
    font-weight: 500;
    font-size: 80px;
    font-family: "Dancing Script";
    margin-left: 40%;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
}

.thumb{
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    overflow: hidden;
    margin: 25px auto;
}

.thumb img{
    width: 80%;
}

/* Hover for Info */
 .mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transitioning to opacity 0 to making it visible */
    opacity: 0;
    background-color: rgba(251, 227, 212, 0.95);
    transition: all 0.3s ease-in-out;
} 

.mask h3{
    margin: 0;
    font-size: 25px;
}

.mask p{
    font-style: italic;
    font-size: 15.5px;
}

.thumb:hover .mask {
    opacity: 1;
}

.thumb .mask h3,
.thumb .mask p,
.thumb .mask a{
    opacity: 0;
    transition: all 0.3s ease-out;
}

.thumb:hover .mask h3,
.thumb:hover .mask p,
.thumb:hover .mask a{
    opacity: 1;
}


/* Footer */
footer{
    margin-top: 70px;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #ffdfcc;
    min-height: 70px;
}

/* Social media icons from W3 Schools */
footer .fa {
    padding: 15px;
    font-size: 26px;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    margin: 24px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #edaf8c;
    color: white;
}

.fa-google {
    background: #edaf8c;
    color: white;
  }

.fa-linkedin {
    background: #edaf8c;
    color: white;
}

/* Mobile View */

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }

    .menu{
        font-size: 20px;
    }

    .brand{
        font-size: 40px;
    }

    .thumb{
        flex-basis: 52%;
        width: 620px;
    }

    h2{
        font-size: 70px;
        margin-left: 35%;
    }


}
