/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  background-color: #fef3e4;
}

/* Nav Bar */
.navbar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #6ac8cd;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.navbar.open{
  width: 250px;
}
.navbar .company-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar .company-details .i{
  opacity: 0;
  transition: all 0.5s ease;
}
.navbar .company-details .company_name, 
.navbar .company-details #dog{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  opacity: 0;
  transition: all 0.5s ease;
}
.navbar.open .company-details,
.navbar.open .company-details .company_name, 
.navbar.open .company-details #dog{
  opacity: 1;
}
.navbar .company-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.navbar.open .company-details #btn{
  text-align: right;
}
.navbar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.navbar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.navbar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.navbar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #6ac8cd;
}
.navbar li a:hover{
  background: #FFF;
}
.navbar li a .links_name{
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.navbar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.navbar li a:hover .links_name,
.navbar li a:hover i{
  transition: all 0.5s ease;
  color: #6ac8cd;
}
.navbar li i{
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  border-radius: 12px;
}

/* Page Content */
.page_name{
  position: relative;
  background: #fef3e4;
  min-height: 8vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.navbar.open ~ .page_name{
  left: 250px;
  width: calc(100% - 250px);
}
.page_name .text{
  display: inline-block;
  color: #6ac8cd;
  font-size: 28px;
  font-weight: 500;
  margin: 18px
}

/* Welcome Bar */
.welcome_bar{
  position: relative;
  width: 690px;
  height: 120px;
  background-color: #ebfcfd;
  left: 100px;
  border-radius: 50px;
  border: 4px solid;
  border-color: #6ac8cd;
  display: flex;
}

.welcome{
  padding: 25px 55px;
}

.welcome h2{
  font-size: 24px;
}

.welcome p{
  font-size: 19px;
}

img{
  height: 120px;
  width: auto;
}

/* Appointments */

.all_appointments{
  display: grid;
}

.row1{
  display: flex;
  position: relative;
  background-color: #fef3e4;
  align-items: center;
  justify-content: space-evenly;
  top: 20px;
  width: 100%;
  padding: 4px;
  
}

.row1 img{
  position: relative;
  border-radius: 100%;
  width: 120px;
  height: 110px;
  justify-content: center;
  left: 30%;
}

.row1 h3{
  position: relative;
  left: 37%
}

.appointments_outer{
  position: relative;
  padding: 20px 30px;
  width: 410px;
  height: 290px;
  border: solid 3px;
  background-color: #f7fefe;
  border-color: #c3e5e7;
  top: 0px;
  left: 40px;
  border-radius: 50px;
}

#jimbob{
  border: 7px solid;
  border-color: #f5c35f;
}

#waffle{
  border: 7px solid;
  border-color: #fb6868;
}

.appointments_inner{
  position: relative;
  padding: 14px;
  width: 380px;
  height: 115px;
  right: 15px;
  border-radius: 0 0 50px 50px;
  border: solid 2px;
  border-color: #a1d6d9;
  background-color: #fff;
}

.row1 h4{
  padding: 2px;
}

.row2{
  position: relative;
  display: flex;
  background-color: #fef3e4;
  align-items: center;
  justify-content: left;
  left: 50px;
  width: 1385px;
  top: 50px;
  padding: 5px;
  
}

.row2 img{
  position: relative;
  border-radius: 100%;
  width: 120px;
  height: 110px;
  justify-content: center;
  left: 30%;
}

.row2 h3{
  position: relative;
  left: 36%;
}

.row2 h4{
  padding: 2px;
}

/* Mobile View */


@media screen and (max-width: 768px){

  .welcome_bar{
    position: relative;
    margin-top: 20px;
    width: 500px;
    height: 110px;
    background-color: #ebfcfd;
    left: 20%;
  }

  .welcome{
    padding: 25px 15px;
  }
  
  .welcome h2{
    font-size: 20px;
  }
  
  .welcome p{
    font-size: 15px;
  }
  
  .welcome_bar img{
    height: 100px;
    width: auto;
  }

  .row1{
    display:grid;
    position:relative;
    right: 20%;
  }

  .row2{
    display: grid;
    left: 15%;
    top: 16px;
  }

  .appointments_outer{
   margin-top: 23px;
   left: 0px;
  }
}